/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 768px) {

    /*Область №1*/
    .hamburger-menu {
        display: none;
    }

    header {
        padding: 18px 0;
        background: #FFFFFF;
    }

    header .d-flex {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .container {
        max-width: 940px;
        margin: 0 auto;
        display: block;
    }

    .d-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .section1-img-01-logo {
        -o-object-fit: cover;
        object-fit: cover;
    }

    .nav-links {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #404040;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .nav-links a {
        padding: 0 17px;
    }

    /*Область №1*/
    /*Область №2*/
    .area-2 h1 {
        font-size: 44px;
        line-height: 55px;
        padding-top: 105px;
    }

    /*Область №2*/
    /*Область №3*/
    .area-3 {
        padding: 60px 0 59px;
    }

    .area-3-description {
        margin: 0 auto 39px;
        font-size: 18px;
        line-height: 25px;
    }

    /*Область №3*/
    /*Область №4*/
    .area-4 {
        padding: 79px 0 74px;
    }

    .area-4-container-for-cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 20px;
    }

    .area-4-description {
        margin: 20px 0 0;
    }

    /*Область №4*/
    /*Область №5*/
    .area-5 {
        padding: 79px 0 89px;
    }

    .area-5-container-for-cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 20px;
        margin: 0 0 20px;
    }

    .area-5-cards {
        margin: 0;
        padding: 0 0 21px;
    }

    /*Область №5*/
    /*Область №6*/
    .area-6 {
        padding: 79px 0 100px;
    }

    .area-6-container-for-cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 20px;
    }

    /*Область №6*/
    /*Область №7*/
    .area-7 {
        padding: 69px 0 98px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .area-7-container-for-cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .Rectangle-3 {
        visibility: visible;
        height: 215px;
    }

    /*Область №7*/
    /*Область №8*/
    .area-8 {
        padding: 79px 0 75px;
    }

    .area-8-container-for-cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .area-8-cards-1 {
        padding-right: 133px;
    }

    .area-8-cards-2 {
        padding-right: 149px;
    }

    .area-8-cards-img-1 {
        height: 65px;
        margin: 0 0 26px;
    }

    .area-8-cards-img-2 {
        height: 65px;
        margin: 0 0 26px;
        padding: 7px 0 0;
    }

    .Rectangle-4 {
        margin: 28px auto 56px;
    }

    /*Область №8*/
    /*Область №9*/
    .area-9 {
        padding: 69px 0 75px;
    }

    .area-9-form-firstname, .area-9-form-budget, .area-9-form-email, .area-9-form-messenger {
        max-width: 564px;
    }

    /*Область №9*/
    /*Общий*/
    .Rectangle-2 {
        margin: 28px auto 43px;
    }

    /*Общий*/
}

